{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Home | Cranworth Law Society</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark justify-content-between mb-4">

    <a class="navbar-brand" href="/">
        Cranworth Law Society
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ student }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/home">Home</a>
                    <a class="dropdown-item" href="/firms">Browse Firms</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/accounts/logout">Logout</a>
                </div>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="/firms">Browse Firms</a>
            </li>
            <div class="dropdown-divider-grey"></div>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="/accounts/logout">Logout</a>
            </li>
            </li>
        </ul>
    </div>

</nav>

<div class="container">

    <div class="row">

        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 mb-4">
            <div class="border-bottom mb-3">
                <h2>Welcome to Cranworth</h2>
                <p style="text-transform: uppercase; color: #402471">Downing's Law Society</p>
            </div>
            <div>
                The Cranworth Society is the largest student-run college law society in Cambridge. All Downing
                undergraduates studying Law are automatically members, although we welcome any non-law students
                from the college who are considering converting to law at any point. Such students should contact
                the society to become a member, free of charge.<br><br>

                The society is active throughout the year by maintaining a close relationship with firms of
                solicitors and chambers, organising social events for students and arranging for guest speakers
                to talk to the society. Past speakers have included Lord Walker, and several barristers and solicitors.
                Highlights of the year include a sponsored day trip to London, our annual moot against Magdalene,
                fancy dress end-of-term private formals and the Cranworth Annual Dinner to which many distinguished
                academics, barristers, solicitors and judges are invited. Past guest speakers have included Lord Dyson,
                Baroness Hale and Lizzie Cooke.

            </div>

            <div class="row mt-5 mb-4">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3>Featured Firms</h3>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="card mt-3 border-primary">
                        <div class="card-header">
                            MAGIC CIRCLE
                        </div>
                        {% if magic_circle_1 %}
                        <div class="card-body">
                            <h5 class="card-title">{{ magic_circle_1.name }}</h5>
                            <p class="card-text"
                               style="text-transform: uppercase; color: #402471">{{ magic_circle_1.category }}</p>
                            <p class="card-text">{{ magic_circle_1.excerpt }}</p>
                            <a href="/firm/{{ magic_circle_1.firm_id }}" class="btn btn-primary">View</a>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="card mt-3 border-primary">
                        <div class="card-header">
                            MAGIC CIRCLE
                        </div>
                        {% if magic_circle_2 %}
                        <div class="card-body">
                            <h5 class="card-title">{{ magic_circle_2.name }}</h5>
                            <p class="card-text"
                               style="text-transform: uppercase; color: #402471">{{ magic_circle_2.category }}</p>
                            <p class="card-text">{{ magic_circle_2.excerpt }}</p>
                            <a href="/firm/{{ magic_circle_2.firm_id }}" class="btn btn-primary">View</a>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-4">

            <div class="d-md-block">
                <div class="list-group">
                    <a href="/" class="list-group-item active"><i class="fa fa-key"></i> <span>Home</span></a>
                    {% for p in static_pages %}
                    <a href="/page/{{ p.page_id }}" class="list-group-item"><i class="fa fa-key"></i> <span>{{ p }}</span></a>
                    {% endfor %}
                    <a href="/about" class="list-group-item"><i class="fa fa-key"></i> <span>About This Site</span></a>
                </div>
            </div>

            <div class="d-md-block mt-3">
                <div class="list-group">
                    <a href="/firms" class="list-group-item"><i class="fa fa-key"></i> <span>All Firms</span></a>
                    <a href="/magic-circle" class="list-group-item"><i class="fa fa-key"></i> <span>Magic Circle</span></a>
                    {% for c in categories %}
                        {% if c.category_id != category.category_id %}
                            <a href="/category/{{ c.category_id }}" class="list-group-item"><i class="fa fa-key"></i>
                                <span>{{ c }}</span></a>
                        {% else %}
                            <a href="/category/{{ c.category_id }}" class="list-group-item active"><i
                                    class="fa fa-key"></i> <span>{{ c }}</span></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>